<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div class="container">
        <div class="content">
          <img src="https://i.pinimg.com/originals/d3/d1/75/d3d175e560ae133f1ed5cd4ec173751a.png" alt="pin logo" class="img1" />
          <p class="header">Register to see more</p>

          <form action="/register" method="post">
            <input type="email" name="email" placeholder="Email" class="detail" />
            <input type="text" name="username" placeholder="Username" class="detail" />
            <input type="text" name="fullname" placeholder="Fullname" class="detail" />
            <input type="password" name="password" placeholder="Password" class="detail" />
            <input class="btn int" type="submit" value="Register Account">
          </form>
          <a href="/forgot">Forgot your password?</a>
          <p class="or">OR</p>
          <button class="btn fbk">
            <i
              class="fab fa-facebook fa-lg"
              style="color: white; padding-right: 10px"
            ></i
            ><a href="#">Continue with Facebook</a></button
          ><br />
          <button class="btn ggl">
            <i
              class="fab fa-google"
              style="color: rgb(11, 241, 22); padding-right: 10px"
            ></i
            ><a href="#">Continue with Google</a>
          </button>
  
          <footer>
            <p>By continuing, you agree to Pinterest's<b>Terms of Service, Privacy policy.</b></p>
            <a href="/login">Already on Pinterest? Login</a>
          </footer>
        </div>
    </div>  
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>